body {
    color: rgba(235, 174, 189, 0.046);
    background: rgb(250, 250, 250);
    margin: 0px;
    font-family: "Edu NSW ACT Cursive", cursive;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(251, 0, 96);
    padding: 20px;
    font-size: 32x;
    color: rgb(245, 130, 174);
}

.chamada {
    background: rgb(251, 0, 96);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: sx;
}
h1{
    font-size: 40px;
}



p{
    font-size: 20px
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}



.categoria-videos img{
    opacity: 0.5;
    height: 20px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228);
}